body{


    background-color: #0099CC;
}

.Delete{

    background-color: white;
    width: 9.5cm;
    height: 7.5cm;
    margin-left: 15cm;
    margin-top: 3cm;
    border-radius: 20px;

}

.Middle{


    width: 9cm;
    height: 7cm;
    margin-left: 0.8cm;
    margin-top: 2cm;
    border-radius: 12px;

}

.Tags{

    width: 3.2cm;
    height: 1cm;
    border-radius: 12px;
    background-color: #0099CC;
    margin-left: 0.4cm;
}

