.Impo{

    width: 8cm;
    height: 14cm;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 12px;
}


.Data{

    width: 7cm;
    height: 9cm;

    margin-left: 5px;
   border-radius: 10px;
    
}

h6{

    color: #000;
    margin-left: 0.5cm;
}



