.Extra{

    width: 35.5cm;
    height: 20cm;
   
    display: flex;
    flex-flow: row;
}

.Impo{

    width: 8cm;
    height: 16cm;
    background-color: black;
 
   
}


.Data{

    width: 7cm;
    height: 9cm;

    margin-left: 5px;
   border-radius: 10px;
   color: white;
  
    
}

.Impo h6{

    margin-left: 1cm;
}

h6{

   
    margin-left: 0.5cm;
}

.Second{

    width: 26.5cm;
    height: 15cm;
    
    margin-left: 0.25cm;
}

.Size{

    margin-left: 0.5cm;
    margin-top: 0.5cm;
    border-radius: 16px;
    border:6px solid rgb(36, 26, 177);
    animation: frame 5s linear infinite;
    
}


@keyframes frame{

    0%{

        transform: scale(0.9);
        opacity: 0;
    }

    20%{

        transform: scale(1);
        opacity: 1;
    }

    80%{

        transform: scale(1);
        opacity: 1;
    }
    100%{

        transform: translateY(100px);
        opacity: 0;
    }
}